includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: src/Facades/ApiResponse.php
        -
            identifier: trait.unused
            path: src/Traits/HasApiResponse.php